/* src/index.css or App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #100303;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

h1, h2, h3, p {
  margin: 1rem 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
